@model TransactionModelWrapper;

<html lang="en">
    <head>
        <meta charset = "utf-8" />
        <title>Book Transaction</title>
    </head>
    <body>
        <br />
        <h1>@Model.personData.name</h1>
        <h5>@Model.bookData.title</h5>
        <br />

        <a href="/">Back to home page.</a>
    </body>
</html>
