@model Stock

<h1> Home Page </h1>
<hr />
<h3>Stock Profile for MSFT</h3>
<h3>Opening value: @Model.open_price</h3>
<h3>Current value: @Model.current_price</h3>
<h3>Highest value: @Model.high_price</h3>
<h3>Lowest value: @Model.low_price</h3>